Dockerfile
Dockerfile.dev
docker-compose.yaml
docker-compose*.yaml
node_modules
.git
.gitignore
.gitmodules
dist
coverage
test
jest-setup-files.ts
README.md

.env
environments
.vscode
.prettierrc

.dockerignore
Makefile
terragrunt
.sops.yaml
helm-charts
.github/workflows
.releaserc
